server {
 
  root /var/www/{{siteName}}/web/;
  index index.php;
 
  server_name{{#serverNames}} {{&.}}{{/serverNames}};
 
  access_log /var/www/{{siteName}}/log/{{siteName}}.access;
  error_log /var/www/{{siteName}}/log/{{siteName}}.error error;
 
  location / {		
    try_files $uri /index.php?$args;
  }
 
  location ~ \.php$ {
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_index index.php;
    include fastcgi_params;
    try_files $uri =404;
    fastcgi_pass 127.0.0.1:{{&port}};	
  }
 
  location ~ /\.ht {
    deny all;
  }
 
}